
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.row {
    margin-bottom: 20px;
}

.table > tbody > tr > td,
.table > tbody > tr > th  {
    vertical-align: middle;
}
